.about__wrapper {
    padding-top: 50px;
    padding-bottom: 40px;
}
.about__titles {
    padding-right: 6.25%;
    padding-left: 6.25%;
}
.about__title {
    margin-bottom: 40px;
    text-align: right;
}
.about__subtitle {
    right: 48px;
}
.about__box-title {
    text-align: right;
}
.about__inner-first {
    margin-bottom: 40px;
    padding-right: 6.25%;
}
.about-box {
    position: relative;
}
.about-box::before {
    position: absolute;
    content: "";
    background-image: url("../../img/about-bg@1x.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 82px;
    height: 191px;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: -1;
}
.about-box__inside {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding-left: 6.25%;
}
.about-box__inside-text {
    margin: 0;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: -0.04em;
}
.about-box__inside-text.text-1 {
    margin-bottom: 32px;
}
.about-box__inside-text.text-2 {
    margin-bottom: 22px;
    padding-left: 25px;
}
.about-box__inside-text span {
    display: block;
    margin-top: -3px;
    font-size: 14px;
    line-height: 17px;
    font-weight: normal;
    letter-spacing: -0.04em;
}
.about-box__deskr {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    grid-row-gap: 10px;
}
.about-box__deskr-text {
    margin: 0;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.12em;
    text-align: center;
}
.about-box__deskr-text .text-span2 {
    display: block;
    margin-top: 10px;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0;
    color: #B5B5B5;
}
.about-box__deskr-text .text-span1 {
    position: relative;
}
.about-box__deskr-text .text-span1::before {
    position: absolute;
    content: "";
    background-size: contain;
    top: -12px;
    z-index: -1;
}
.about-box__deskr-text.text-1 {
    grid-column: 4/8;
    grid-row: 1/4;
}
.about-box__deskr-text.text-2 {
    grid-column: 8/11;
    grid-row: 3/6;
}
.about-box__deskr-text.text-3 {
    grid-column: 10/13;
    grid-row: 6/9;
}
.about-box__deskr-text.text-4 {
    grid-column: 8/11;
    grid-row: 9/12;
}
.about-box__deskr-text.text-5 {
    grid-column: 4/8;
    grid-row: 11/13;
}

.about-box__deskr-text.text-1 .text-span1::before  {
    background-image: url("../../img/circle.svg");
    width: 53px;
    height: 53px;
    left: -33px;
}
.about-box__deskr-text.text-2 .text-span1::before,
.about-box__deskr-text.text-4 .text-span1::before  {
    background-image: url("../../img/triangle.svg");
    width: 52px;
    height: 57px;
    left: -23px;
}
.about-box__deskr-text.text-3 .text-span1::before  {
    background-image: url("../../img/square.svg");
    width: 53px;
    height: 53px;
    left: -34px;
}
.about-box__deskr-text.text-5 .text-span1::before {
    background-image: url("../../img/circle.svg");
    width: 53px;
    height: 53px;
    left: -26px;
}
.about__inner-second {
    padding-left: 6.25%;
    padding-right: 6.25%;
}
.about__box-title {
    margin-bottom: 25px;
}
.about__box-text {
    margin: 0;
    text-align: right;
    letter-spacing: 0.03em;
    color: #B5B5B5;
}

@media (min-resolution: 2dppx) and (min-width: 320px) {
    .about-box::before {
        background-image: url("../../img/about-bg@2x.png");
        width: 232px;
        height: 305px;
    }
}

@media (min-width: 768px) {
    .about__titles {
        padding: 0;
    }
    .about__title {
        margin-bottom: 50px;
    }
    .about__subtitle {
        right: 126px;
    }
    .about__inner-first {
        margin-bottom: 47px;
        padding: 0;
    }
    .about__box-title {
        margin-bottom: 41px;
    }
    .about-box {
        display: flex;
        flex-wrap: wrap;
    }
    .about-box__inside {
        position: static;
        top: 0;
        transform: none;
        padding-left: 0;
    }
    .about-box__deskr {
        display: flex;
        justify-content: space-between;
        flex: 100%;
        margin-bottom: 40px;
        padding-left: 30px;
    }
    .about-box__inside {
        order: 2;
        margin-top: 84px;
    }
    .about__wrapper {
        display: grid;
        grid-template-columns: 40% 60%;
        grid-template-rows: auto 215px auto;
        padding: 110px 7.81% 94px;
    }
    .about__titles {
        grid-column: 1/-1;
    }
    .about__inner-first {
        grid-column: 1/-1;
        grid-row: 2/4;
    }
    .about__inner-second {
        grid-column: 2/3;
        grid-row: 3/4;
        padding: 0;
        max-width: 486px;
        margin-left: auto;
    }
    .about-box__deskr-text {
        font-size: 30px;
        line-height: 35px;
    }
    .about-box__deskr-text .text-span2 {
        margin-top: 18px;
        font-size: 16px;
        line-height: 19px;
    }
    .about-box__deskr-text .text-span1::before {
        top: -20px;
    }
    .about-box__deskr-text.text-1 .text-span1::before {
        width: 74px;
        height: 75px;
        left: -49px;
    }
    .about-box__deskr-text.text-2 .text-span1::before,
    .about-box__deskr-text.text-4 .text-span1::before {
        width: 75px;
        height: 81px;
        left: -37px;
    }
    .about-box__deskr-text.text-3 .text-span1::before {
        width: 75px;
        height: 75px;
        left: -38px;
    }
    .about-box__deskr-text.text-5 .text-span1::before {
        width: 74px;
        height: 75px;
        left: -43px;
    }
    .about-box::before {
        background-image: url("../../img/about-bg-tab@1x.png");
        width: 232px;
        height: 305px;
        top: 140px;
        transform: none;
    }
    .about-box__inside-text {
        font-size: 20px;
        line-height: 24px;
    }
    .about-box__inside-text span {
        font-size: 16px;
        line-height: 19px;
    }
    .about-box__inside-text.text-1,
    .about-box__inside-text.text-2 {
        margin-bottom: 25px;
    }
    .about-box__inside-text.text-2 {
        padding-left: 0;
    }
    .about-box__inside-text.text-1 {
        padding-left: 150px;
    }
    .about-box__inside-text.text-3 {
        padding-left: 123px;
    }
}

@media (min-resolution: 2dppx) and (min-width: 768px) {
    .about-box::before {
        background-image: url("../../img/about-bg-tab@2x.png");
        width: 232px;
        height: 305px;
    }
}