.gallery__wrapper {
    padding-top: 60px;
    padding-bottom: 40px;
}
.gallery__titles {
    padding-left: 6.25%;
    margin-bottom: 40px;
}
.gallery__subtitle {
    padding-left: 22px;
}
.gallery-swiper {
    padding-left: 6.25%;
    padding-right: 40px;
}
.swiper-wrapper.gallery-swiper-wrapper {
    height: 352px !important;
}
.swiper-slide.gallery-slide {
    width: 260px !important;
    height: 298px !important;
    background-color: #101010;
    border: 2px solid #FFFFFF;
    filter: drop-shadow(0px 0px 8px rgba(255, 255, 255, 0.4));
    border-radius: 3px;
}
.gallery-slide__img {
    object-fit: cover;
}
.swiper-button-prev.gallery-swiper-button-prev {
    left: 6.25%;
}
.swiper-button-next.gallery-swiper-button-next {
    right: auto;
    left: 22%;
    bottom: -4px;
}

@media (min-width: 768px) {
    .gallery__wrapper {
        padding-top: 100px;
        padding-bottom: 100px;
    }
    .gallery__titles {
        padding-left: 7.81%;
        padding-right: 7.81%;
        margin-bottom: 30px;
    }
    .gallery__title {
        text-align: center;
    }
    .gallery__subtitle {
        width: 100%;
        text-align: center;
        padding-left: 0;
        left: 50%;
        transform: translateX(-50%);
    }
    .gallery-swiper {
        padding-left: 0;
        padding-right: 145px;
    }
    .swiper-wrapper.gallery-swiper-wrapper {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(12, 1fr);
        grid-gap: 20px;
        max-width: 980px;
        margin: 0 auto;
        padding-top: 20px;
        padding-bottom: 20px;
        height: 616px !important;
        padding-right: 90px;
        padding-left: 8.81%;
        overflow-x: scroll;
    }
    .swiper-slide.gallery-slide {
        width: 310px !important;
        height: auto !important;
    }
    .gallery-slide {
        border: 3px solid #FFFFFF;
        filter: drop-shadow(0px 0px 10.1042px rgba(255, 255, 255, 0.4));
        border-radius: 3px;
    }
    .gallery-slide.gallery-slide-01 {
        grid-row: 1/8;
    }
    .gallery-slide.gallery-slide-02 {
        grid-row: 1/6;
    }
    .gallery-slide.gallery-slide-03 {
        grid-row: 1/8;
    }
    .gallery-slide.gallery-slide-04 {
        grid-row: 8/13;
    }
    .gallery-slide.gallery-slide-05 {
        grid-row: 6/13;
    }
    .gallery-slide.gallery-slide-06 {
        grid-row: 8/13;
    }
    .gallery-slide.gallery-slide-01 .gallery-slide__img {
        width: 310px;
        height: 338px;
    }
    .gallery-slide.gallery-slide-02 .gallery-slide__img {
        width: 310px;
        height: 235px;
    }
    .gallery-slide.gallery-slide-03 .gallery-slide__img {
        width: 310px;
        height: 338px;
    }
    .gallery-slide.gallery-slide-04 .gallery-slide__img {
        width: 310px;
        height: 235px;
    }
    .gallery-slide.gallery-slide-05 .gallery-slide__img {
        width: 310px;
        height: 338px;
    }
    .gallery-slide.gallery-slide-06 .gallery-slide__img {
        width: 310px;
        height: 235px;
    }
    .gallery-swiper-buttons {
        display: none;
    }
}

@media (min-width: 1140px) {
    .gallery-swiper {
        padding-right: 0;
    }
    .swiper-wrapper.gallery-swiper-wrapper {
        overflow-x: hidden;
    }
}

@media (min-width: 1440px) {
    .gallery__titles {
        padding-left: 12.15%;
        padding-right: 12.15%;
        margin-bottom: 35px;
    }
    .swiper-wrapper.gallery-swiper-wrapper {
        max-width: 1440px;
        height: 896px !important;
        padding-right: 0;
        padding-left: 0;
    }
    .swiper-slide.gallery-slide {
        width: 458px !important;
        border-radius: 15px;
    }
    .gallery-slide__img {
        border-radius: 15px;
    }
    .gallery-slide.gallery-slide-01 .gallery-slide__img {
        width: 459px;
        height: 512px;
    }
    .gallery-slide.gallery-slide-02 .gallery-slide__img {
        width: 459px;
        height: 357px;
    }
    .gallery-slide.gallery-slide-03 .gallery-slide__img {
        width: 459px;
        height: 510px;
    }
    .gallery-slide.gallery-slide-04 .gallery-slide__img {
        width: 459px;
        height: 357px;
    }
    .gallery-slide.gallery-slide-05 .gallery-slide__img {
        width: 459px;
        height: 510px;
    }
    .gallery-slide.gallery-slide-06 .gallery-slide__img {
        width: 459px;
        height: 357px;
    }
}