@font-face {
    font-family: "Jura";
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src:
        url("../../../fonts/Jura-Regular.woff2") format("woff2"),
        url("../../../fonts/Jura-Regular.woff") format("woff");
}
@font-face {
    font-family: "Jura";
    font-weight: 500;
    font-style: normal;
    font-display: swap;
    src:
        url("../../../fonts/Jura-Medium.woff2") format("woff2"),
        url("../../../fonts/Jura-Medium.woff") format("woff");
}
@font-face {
    font-family: "Jura";
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src:
        url("../../../fonts/Jura-Bold.woff2") format("woff2"),
        url("../../../fonts/Jura-Bold.woff") format("woff");
}