*, *::after, *::before {
    box-sizing: inherit;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
html {
    box-sizing: border-box;
    overflow-x: hidden;
}
a {
    display: inline-block;
    text-decoration: none;
    font-family: inherit;
    color: inherit;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
body {
    margin: 0 auto;
    min-width: 320px;
    max-width: 1440px;
    font-family: 'Jura', 'Arial', sans-serif;
    font-size: 14px;
    line-height: 17px;
    font-weight: bold;
    background-color: #101010;
    color: #fff;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
.container {
    margin: 0 auto;
    width: 87.5%;
}
.button {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 25px;
    width: 156px;
    border: 3px solid #E83D81;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    background-color: transparent;
    letter-spacing: -0.04em;
    cursor: pointer;
}
.button::after {
    position: absolute;
    content: "";
    border: 1px solid rgba(255, 255, 255, 0.5);
    filter: blur(0.935593px) drop-shadow(0px 0px 9.35593px rgba(255, 255, 255, 0.4));
    width: 155px;
    height: 43px;
    left: 3px;
    top: 3px;
    z-index: -1;
}
.main-titles {
    position: relative;
}
.main-title {
    margin: 0;
    font-size: 30px;
    line-height: 35px;
    letter-spacing: 0.07em;
    text-transform: uppercase;
    text-shadow: 0px 0px 15px rgba(255, 255, 255, 0.4);
}
.main-subtitle {
    position: absolute;
    top: -15px;
    margin: 0;
    font-size: 28px;
    line-height: 33px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.2);
}
.title {
    margin: 0;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.03em;
}

@media (min-width: 768px) {
    body {
        font-size: 16px;
        line-height: 19px;
    }
    .container {
        width: 84.37%;
    }
    .button {
        padding: 19px 44px;
        width: 209px;
        font-size: 16px;
        line-height: 19px;
        transition: all ease 0.5s;
    }
    .button::after {
        filter: blur(1.5px) drop-shadow(0px 0px 15px rgba(255, 255, 255, 0.4));
        width: 205px;
        height: 61px;
        left: 6px;
        top: 6px;
        transition: all ease 0.5s;
    }
    .button:hover {
        width: 240px;
        border-color: #fff;
    }
    .button:hover::after {
        width: 238px;
        top: 11px;
        left: 20px;
        border: 1px solid #E83D81;
    }
    .main-title {
        font-size: 36px;
        line-height: 43px;
    }
    .main-subtitle {
        top: -43px;
        font-size: 70px;
        line-height: 83px;
    }
    .title {
        font-size: 20px;
        line-height: 24px;
    }
}

@media (min-width: 1440px) {
    body {
        font-size: 18px;
        line-height: 21px;
    }
    .container {
        width: 75.7%;
    }
    .button {
        padding: 22px 48px;
        width: 230px;
        font-size: 18px;
        line-height: 21px;
    }
    .button::after {
        width: 228px;
        height: 69px;
    }
    .main-title {
        font-size: 45px;
        line-height: 53px;
    }
    .main-subtitle {
        top: -51px;
        font-size: 86px;
        line-height: 102px;
    }
    .title {
        font-size: 26px;
        line-height: 31px;
    }
}